*{
    background-color: #7a7a7a;
}
h1{
    background-color: #d6e2ff;
    padding: 25px;
    border: 10px solid #000000;
    border-radius: 20px;
    width: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, monospace;
    margin:75px;
    box-shadow: 10px 10px 5px #000000;
}

